# Ignore generated output folders
results/
plots/
metrics/
logs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/

# Jupyter checkpoints
.ipynb_checkpoints/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
